{% extends "header.html" %}
{% block title %}Responsables{% endblock title%}
{% block h1 %}Responsables{% endblock h1%}
{% block content %}
	<ul>
		{% for responsable in responsables %}
			<li>
				{{responsable.name}}
				<ul>
					<li>{{responsable.grade}}</li>
					<li>{{responsable.school.name}}</li>	
					<li>
						Teams:
						<ul>
							{% for team in responsable.team_set.all %}
								<li>{{team.name}}</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</li>
			<p></p>
		{% endfor %}
	</ul>

	<form method="POST">
		{% csrf_token %}
		{{form}}
		<input type="submit" value="save this">
	</form>
{% endblock content %}